body,span,a,div,ul,li{
	margin: 0;
	padding: 0;	
}
body{
	background-color: #123456;
}
.main{
	border-radius: 20px;
	background-color: white;
	margin:20px auto;
	min-height: 800px;
	width: 700px;
	overflow: hidden;
}
.main header {
	margin-top: 10px;
	border-bottom: 1px solid #eaeaea;
}
.main header table{
	margin: 0 auto;
	padding: 0 20px;
}
.main header table a{
	color: hotpink;
	cursor: hand;
	text-decoration: none;
	font-size: 12px;
}
.main  h3{
	text-align: center;
}
#formTable{
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto;
	border: #EAEAEA solid 1.5px;
	border-right: none;
	border-bottom:none;
}
#formTable tr{
	overflow: hidden;
}
#formTable td{
	border-right:  #EAEAEA solid 1.5px;
	border-bottom:   #EAEAEA solid 1.5px;
	
}
.td_title{
	font-weight: bold;
	font-size: 12px;
	color: #123456;
	padding: 4px;
}
.red{
	color:red;
}
.blue{
	color: deepskyblue;
}
